/* Обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   color: rgba(37, 43, 66, 1);
   font-weight: 500;
   font-family: Montserrat;
   background: #FAFAFA;
}

/* ========================================================================================================= */
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/* ===========================================header==================================================== */
._container {
   max-width: 1046px;
   /* min-width: 1046px;  сука два дня искала эту ошибку */
   padding: 0px 15px;
   margin: 0px auto;
   box-sizing: content-box;
}

.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}

.header__container {
   display: flex;
   min-height: 104px;
   align-items: center;

}

@media (max-width: 479px) {
   .header__container {
      min-height: 70px;
   }
}

.header__logo {
   font-size: 24px;
   font-weight: 700;
   color: inherit;
}

.header__menu {
   margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
   .header__menu {
      margin: 0px 0px 0px 80px;
   }
}

@media (max-width: 767px) {
   .header__menu {
      margin: 0px 0px 0px 50px;
   }
}

@media (max-width: 479px) {
   .header__menu {
      margin: 0px 0px 0px 20px;
   }
}

.menu {
   padding: 5px 0;
}

.menu__list {
   flex-wrap: wrap;
   display: flex;
}

.menu__item:not(:last-child) {
   margin: 0 21px 0 0;
}

.menu__link {
   color: #737373;
   font-weight: 600;
   /* line-height: 171%; */
   line-height: calc(24/14*100%);
}

.menu__link:hover {
   text-decoration: underline;
}


@media (max-width: 479px) {
   .menu__link {
      font-size: 18px;
   }
}

@media (max-width: 790px) {
   .menu__link {
      color: #3f3f3f;
   }
}

/* ==============================================page================================================= */

.page {
   flex: 1 1 auto;
}

.page__services {
   /* отрицательный маржин потому как за ним поднимутся все остальные блоки снизу */
   margin: -111px 0px 0px 0px;
   position: relative;
}

.page__subscride:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

/* ========================================header block======================================================= */
.header-block {
   text-align: center;
   letter-spacing: 0.2px;
}

.header-block__title {
   font-weight: 700;
   line-height: 142%;
   font-size: 40px;
   color: #252B42;
}

.header-block__title:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
   line-height: 142%;
   font-weight: 500;
   font-size: 14px;
   color: #737373;
}

@media (max-width: 990px) {
   .header-block__title {
      font-size: 35px;
   }
}

@media (max-width: 767px) {
   .header-block__title {
      font-size: 30px;
   }
}

/* ==============================================main-block================================================= */

.main-block {
   position: relative;
}

.main-block__body {
   padding: 184px 0 191px 0;
   position: relative;
   z-index: 2;
   max-width: 400px;
}

@media (max-width: 992px) {
   .main-block__body {
      padding: 120px 0 191px 0;
   }
}

@media (max-width: 479px) {
   .main-block__body {
      padding: 115px 0 160px 0;
   }
}

/* обращение ко всем объектам первого уровня (>*)  без пробелов иначе не будет результата*/
/* такой прием хорошо применять когда контент на странице может изменяться или удаляться */
.main-block__body>*:not(:last-child) {
   margin: 0px 0px 35px 0px;
}

.main-block__title {
   font-size: 58px;
   line-height: calc(80/58*100%);
   font-weight: 800;
   letter-spacing: 0.2px;
}

@media (max-width: 479px) {

   .main-block__title {
      font-size: 42px;
   }
}

.main-block__text {
   color: #737373;
   font-size: 20px;
   line-height: calc(30/20*100%);
   font-weight: 500;
   letter-spacing: 0.2px;
}

@media (max-width: 479px) {
   .main-block__text {
      color: #3f3f3f;
   }
}

.main-block__buttons {
   display: flex;
   flex-wrap: wrap;
   margin: -10px 0;
}

/* верстка кнопки стандартная  общие стили блока кнопок шапки*/
.main-block__button {
   border-radius: 37px;
   display: flex;
   min-height: 48px;
   justify-content: center;
   align-items: center;
   padding: 5px 36px;
   letter-spacing: 0.2px;
   font-weight: 700;
   line-height: 150%;
   text-align: center;
   margin: 10px 0;
   /* flex: 0 1 50%; */
}

@media (max-width: 479px) {
   .main-block__button {
      /* display: block; */
      flex: 1 1 100%;
   }
}

@media (min-width: 479px) {
   .main-block__button:not(:last-child) {
      /* margin: 10px 10px 0px 0px; */
      margin-right: 10px;
   }
}

.main-block__button:not(:last-child) {
   /* margin: 10px 10px 0px 0px; */
   margin-right: 10px;
}

/* верстка оранжевой кнопки */
.main-block__button-border:hover {
   color: white;
   background: #FF7B47;
   border: 2px solid #FF7B47;
}

/* верстка прозрачной кнопки */
.main-block__button-border {
   color: #0D5C63;
   border: 2px solid #0D5C63;
}

.main-block__image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

@media(max-width:1300px) {
   .main-block__image img {
      object-position: right;
   }
}

@media (max-width: 992px) {
   .main-block__image {
      opacity: 0.5;
   }
}

/* ======================================service=============================================================== */

@media (min-width: 670px) {
   .services__body {
      flex-wrap: wrap;
      display: flex;
      margin: 0px -15px;
   }
}

.services__colum {
   flex: 0 1 33.333%;
   /* transition: 1s; */
}

@media (min-width: 670px) {
   .services__colum {
      padding: 0 15px;
   }
}

@media (max-width: 992px) {
   .services__colum {
      flex: 0 1 50%;
   }

   .services__colum:last-child {
      flex: 1 1 100%;
   }

   .services__colum:not(:last-child) {
      margin: 0px 0px 30px 0px;
   }

   .services__colum:last-child {
      flex: 1 1 100%;
   }

   .services__colum:not(:last-child) {
      margin: 0px 0px 30px 0px;
   }

}

.services__item {
   /* min-width: 300px; */
   height: 100%;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
   background: #FFFFFF;
   padding: 35px;

}

@media (max-width: 470px) {
   .services__item {
      padding: 25px;
   }
}

.services__item>*:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.item-service_green {
   background: #0D5C63;
}

.item-service_green .item-service__title {
   color: #ffff;
}

.item-service_green .item-service__text {
   color: #ffff;
}

.item-service__title {
   font-weight: 700;
   font-size: 24px;
   line-height: 133%;
   color: #252B42;
   letter-spacing: 0.1px;
}

.item-service__text {
   color: #737373;
   line-height: 142%;
   /* font-weight: 500; */
   /* font-size: 14px; */
   letter-spacing: 0.2px;

}

/* =============================================advantage========================================================== */
.advantage {
   padding: 80px 0;
}

@media (max-width: 992px) {
   .advantage {
      padding: 50px 0;
   }
}

@media (max-width: 767px) {
   .advantage {
      padding: 30px 0;
   }
}

.advantage__header {
   margin: 0px 0px 40px 0px;
}

@media (max-width: 767px) {
   .advantage__header {
      margin: 0px 0px 25px 0px;
   }
}

.advantage__body {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -15px 30px;

}

.advantage__colum {
   padding: 15px;
   margin: 0px 0px 30px 0px;
   flex: 0 1 25%;
   /* transition: 1s; */
}

@media (max-width: 1035px) {
   .advantage__colum {
      flex: 0 1 50%;
   }
}

@media (max-width: 560px) {
   .advantage__colum {
      flex: 0 1 100%;
   }
}

.advantage__item {
   background-color: #ffff;
   padding: 30px;
   text-align: center;
   font-weight: 700;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.advantage__item>* :not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.advantage__icon {
   height: 48px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}

.advantage__value {
   font-size: 40px;
   line-height: 142%;
   letter-spacing: 0.2px;
}

.advantage__text {
   font-size: 16px;
   line-height: 150%;
   color: #737373;
   letter-spacing: 0.1px;
}

/* =================================================practice=============================================== */

.practice {
   padding: 125px 0 80px 0;
}

@media (max-width: 993px) {
   .practice {
      padding: 40px 0 80px 0;
   }
}

@media (max-width: 767px) {
   .practice {
      padding: 0px 0 40px 0;
   }
}

.practice__header {
   margin: 0px 0px 45px 0px;
}

@media (max-width: 767px) {
   .practice__header {
      margin: 0px 0px 25px 0px;
   }
}

.practice__body {
   margin: 0px -20px -30px;
   display: flex;
   flex-wrap: wrap;
}

.practice__colum {
   padding: 0px 20px;
   margin: 0px 0px 30px 0px;
   flex: 0 1 25%;
   /* transition: 2s; */
}

@media (max-width: 1035px) {
   .practice__colum {
      flex: 0 1 50%;
   }
}

@media (max-width: 630px) {
   .practice__colum {
      flex: 0 1 100%;
   }
}

.item-practice {
   background-color: #fff;
   display: flex;
   height: 100%;
   flex-direction: column;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.item-practice__content {
   padding: 30px;
   flex: 1 1 auto;
}

.item-practice__link {
   color: inherit;
   display: inline-block;

}

.item-practice__link:hover {
   text-decoration: underline;
}

.item-practice__link:not(:last-child) {
   margin: 0px 0px 15px 0px;
}

.item-practice__title {
   font-weight: bold;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.1px;
}

.item-practice__text {
   color: #737373;
   font-weight: 500;
   font-size: 14px;
   line-height: 142%;
   letter-spacing: 0.2px;
}

.item-practice__img {
   display: block;
   padding: 0px 0px 60% 0px;
}

/* ===============================================who we are=================================================== */

.whoweare {
   padding: 80px 0px 130px 0px;
}

.whoweare__header {
   margin: 0px 0px 100px 0px;
}

.whoweare__body {
   display: flex;
   align-items: flex-start;
}

.whoweare__video {
   flex: 0 0 57%;
   position: relative;
   padding: 0px 0px 42.25% 0px;
}

.whoweare__video iframe {
   /* занести в снипет */
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

.whoweare__content {
   flex: 1 1 auto;
   padding: 20px 0px 0px 121px;
}

.whoweare__title {
   font-weight: 800;
   font-size: 40px;
   line-height: 142%;
   letter-spacing: 0.2px;
   color: #252B42;
}

.whoweare__title:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.whoweare__text {
   font-weight: 500;
   font-size: 14px;
   line-height: 143%;
   letter-spacing: 0.2px;
   color: #737373;
}

.whoweare__top:not(:last-child) {
   margin: 0px 0px 50px 0px;
}

.whoweare__items {
   margin: 50px 0px 0px 0px;
}

.whoweare__item:not(:last-child) {
   margin: 0px 0px 30px 0px;
}

.item-whoweare {
   display: flex;
}

.item-whoweare__icon {
   flex: 0 0 32px;
}

.item-whoweare__body {
   flex: 1 1 auto;
   padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.1px;
   color: #252B42;
}

.item-whoweare__title:not(:last-child) {
   margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
   font-weight: 600;
   font-size: 14px;
   line-height: 142%;
   letter-spacing: 0.2px;
   color: #737373;
   width: 225px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

@media (max-width: 1080px) {
   .whoweare__content {
      padding: 0px 0px 0px 50px;
   }
}

@media (max-width: 950px) {
   .whoweare {
      padding: 50px 0px 50px 0px;
   }

   .whoweare__body {
      flex-direction: column-reverse;
      align-items: stretch;
   }

   .whoweare__title {
      font-size: 24px;
   }

   .whoweare__content {
      padding: 0px 0px 0px 0px;
   }

   .whoweare__video {
      padding: 0px 0px 56.25% 0px;
   }

   .whoweare__video:not(:last-child) {
      margin: 50px 0px 0px 0px;
   }

   .whoweare__header {
      margin: 0px 0px 30px 0px;
   }

}

@media (max-width: 767px) {
   .whoweare {
      padding: 20px 0px 50px 0px;
   }

   .whoweare__video:not(:last-child) {
      margin: 30px 0px 0px 0px;
   }

   .whoweare__top:not(:last-child) {
      margin: 0px 0px 30px 0px;
   }
}

/* ===========================================clients================================================== */
/* блок сделан дивом а не секцией так как в секцию нужно добавлять заголовки h1 - h6 */
.clients {
   padding: 58px 0;
}

@media (max-width: 768px) {
   .clients {
      padding: 30px 0;
   }
}

.clients__items {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}

.clients__item {
   padding: 8px 15px;
   flex: 0 1 16.6667%;
   text-align: center;
   min-width: 140px;
}

.clients__item img {
   max-width: 100%;
}

/* =========================================input==================================================== */

.subscride {
   position: relative;
   padding: 0px 0px 20px 0px;
}

.subscride::before {
   content: "";
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 77px;
   left: 0;

   background: #252B42;
}

.subscride__body {
   position: relative;
   z-index: 2;
   padding: 30px 50px;
   align-items: center;
   background: #17213C;
   border-radius: 2px;

}

@media (min-width: 1070px) {
   .subscride__body {
      margin: 0 30px;
   }
}

.subscride__title {
   color: #FFFFFF;
   /* max-width: 266px; */
   line-height: 133%;
   font-weight: 700;
   font-size: 24px;
   letter-spacing: 0.1px;
}

@media (max-width: 810px) {
   .subscride__title {
      margin: 0px 0px 20px 0px;
   }

   .subscride__body {
      margin: 0px -15px;
      padding: 20px 25px;
   }
}

@media (min-width: 810px) {
   .subscride__body {
      display: flex;
      justify-content: space-between;
   }

   .subscride__title {
      max-width: 266px;
   }
}

.subscride__form {
   flex: 0 1 50%;
   display: flex;
   align-items: center;
}

.subscride__input {
   width: 100%;
   flex: 1 1 auto;
   min-height: 58px;
   background: #F9F9F9;
   color: #737373;
   padding: 0 20px;
   border-right: 0;
   border: 1px solid #E6E6E6;
   box-sizing: border-box;
   border-radius: 5px 0 0 5px;
}

.subscride__input:focus {
   color: #000;
}

.subscride__button {
   background: #FF7B47;
   color: #fff;
   border: 1px solid #E6E6E6;
   border-radius: 0px 5px 5px 0px;
   display: flex;
   min-height: 58px;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0 22px;
}

.subscride__button:hover {
   background: #c05a31;
}

@media (max-width: 810px) {
   .subscride__button {
      padding: 0 15px;
   }

   .subscride__input {
      padding: 0 15px;
   }
}

/* =======================================getintouch============================================== */

.getintouch {
   padding: 80px 0px 136px 0px;
   background: #F3F3F3;
}

.getintouch__header {
   margin: 0px 0px 80px 0px;
}

.getintouch__items {
   margin: 0px -15px;
}

@media (min-width: 992px) {
   .getintouch__items {
      margin: 0;
      display: flex;
      align-items: center;
   }
}

@media (max-width: 992px) {
   .getintouch {
      padding: 50px 0px;
   }

   .getintouch__header {
      margin: 0px 0px 50px 0px;
   }
}

@media (max-width: 767px) {
   .getintouch__header {
      margin: 0px 0px 30px 0px;
   }

   .item-getintouch_active {
      padding: 50px 15px;
   }
}

.getintouch__item {
   flex: 0 1 33.333%;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.item-getintouch {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   padding: 50px 15px;
}

.item-getintouch_active {
   padding: 80px 15px;
   background: #252B42;
   color: #fff;
}

@media (max-width: 992px) {
   .item-getintouch_active {
      padding: 50px 15px;
   }
}

.item-getintouch_active .item-getintouch__button {
   border: 1px solid #FFF;
   color: #FFF;
}

.item-getintouch>*:not(:last-child) {
   margin: 0px 0px 15px 0px;
}

.item-getintouch__emails {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.item-getintouch__email {
   color: inherit;
   font-weight: 600;
   line-height: 150%;
   font-style: 16px;
}

.item-getintouch__email:hover {
   text-decoration: underline;
}

.item-getintouch__label {
   font-weight: 700;
   font-style: 16px;
   line-height: 150%;

}

.item-getintouch__button {
   border: 1px solid #FF7B47;
   min-height: 44px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FF7B47;
   line-height: 142%;
   padding: 5px 20px;
   text-align: center;
   border-radius: 5px;
   transition: all 0.3s ease 0s;
   letter-spacing: 0.2px;
   font-weight: 600;
}

.item-getintouch__button:hover {
   border: 1px solid #FF7B47;
   background: #FF7B47;
   color: #fff;
}

/* ======================================contact=================================================== */

.contact {
   background: #FAFAFA;
   padding: 42px 0;
}

.contact__content {
   padding: 0px 0px 20px 0px;
}

@media (min-width: 768px) {
   .contact__body {
      align-items: center;
      display: flex;
      justify-content: space-between;
   }

   .contact__content {
      padding: 0px 20px 0px 0px;
   }
}

.contact__title {
   font-weight: 700;
   font-size: 24px;
   line-height: 133%;
   letter-spacing: 0.1px;
   color: #252B42;
}

.contact__title:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.contact__text {
   font-style: 600;
   font-weight: 500;
   /* font-size: 14px; */
   line-height: 143%;
   letter-spacing: 0.2px;
   color: #737373;
}

.contact__button {
   border: 1px solid #FF7B47;
   min-height: 58px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFf;
   background: #FF7B47;
   line-height: 142%;
   padding: 5px 40px;
   text-align: center;
   border-radius: 5px;
   transition: all 0.3s ease 0s;
   letter-spacing: 0.2px;
   font-weight: 600;
}

.contact__button:hover {
   background: #cc5f34;
}

/* =========================================footer====================================================== */

.footer__top {
   background: #17213C;
   padding: 35px 0;
}

.footer__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -15px;
}

.footer__column {
   padding: 15px 15px;
   flex: 0 1 16.6667%;
   /* min-width: 170px; */
}

.footer__column:last-child {
   flex: 0 1 33.334%;
}

@media (max-width: 992px) {
   .footer__column {
      flex: 0 1 25%;

   }

   .footer__column:last-child {
      flex: 0 1 100%;
   }
}

@media (max-width: 767px) {
   .footer__column {
      flex: 0 1 50%;

   }

   .footer__column:last-child {
      flex: 0 1 100%;
   }
}

.footer__labet {
   color: white;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   margin: 0px 0px 20px 0px;
}

.menu-footer__item:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.menu-footer__link {
   color: white;
   line-height: 170%;
   letter-spacing: 0.2px;
   display: inline-block;
}

.menu-footer__link:hover {
   text-decoration: underline;
}

.contacts-footer {
   display: flex;
   flex-direction: column;
}

.contacts-footer__item {
   padding: 0px 0px 0px 34px;
   /* line-height: 30px; */
   display: flex;
   line-height: 142%;
   align-items: center;
   min-height: 30px;
   color: white;
}

.contacts-footer__item:hover {
   text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
   margin: 0px 0px 12px 0px;
}

.contacts-footer__item_phone {
   background: url('../img/bx1.svg') 0 0 no-repeat;
}

.contacts-footer__item_map {
   background: url('../img/bx2.svg') 0 0 no-repeat;
}

.contacts-footer__item_email {
   background: url('../img/bx3.svg') 0 0 no-repeat;
}

.footer__button {
   padding: 25px 0;
}

.footer__cotainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__copi {
   color: #737373;
   line-height: 171%;
   /* padding: 5px 0; */

}

.social {
   display: flex;
   align-items: center;
}

.social__item:not(:last-child) {
   margin: 0px 20px 0px 0px;
}

@media (max-width: 767px) {
   .footer__cotainer {
      flex-direction: column;
   }

   .footer__copi {
      margin: 0px 0px 15px 0px;
      text-align: center;
   }
}